name: 'test'
on:
  pull_request:

jobs:
  get:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - id: receive
        uses: ./ # use boredland/kernel-info@[tag] 
    outputs:
      longterm: ${{ steps.receive.outputs.longterm }}-${{ steps.receive.outputs.longterm-pkg }}
      stable: ${{ steps.receive.outputs.stable }}-${{ steps.receive.outputs.stable-pkg }}
      mainline: ${{ steps.receive.outputs.mainline }}-${{ steps.receive.outputs.mainline-pkg }}
  use:
    runs-on: ubuntu-22.04
    needs: get
    strategy:
      matrix:
        kernel:
          - ${{ needs.get.outputs.longterm }}
          - ${{ needs.get.outputs.stable }}
          - ${{ needs.get.outputs.mainline }}
    steps:
      - run: |
          echo ${{ matrix.kernel }}
          
